body {
  font-family: Verdana, Arial, sans-serif;
  font-size: 13px;
  margin: 8px;
  padding: 0;
}
div.grippie {
  background:#EEEEEE url(grippie.png) no-repeat scroll center 2px;
  border-color:#DDDDDD;
  border-style:solid;
  border-width:0pt 1px 1px;
  cursor:s-resize;
  height:9px;
  overflow:hidden;
}
.resizable-textarea {
  padding-right: 6px;
  margin-bottom: 10px;
}
.resizable-textarea textarea {
  display: block;
  margin-bottom: 0;
  width: 100%;
  height: 300px;
}
textarea {
  clear: both;
}
h1 {
  display: inline;
  font-size: 18px;
  margin: 0;
  padding: 0;
}
.examples {
  display: block;
  margin: 0;
  padding: 0 0 8px 0;
  float: right;
}
hr {
  border: 0;
  height: 1px;
  width: 70%;
  background-color: #666;
  margin: 2em;
}
.download {
  font-weight: bold;
}
.footer {
  margin-top: 2em;
  text-align: center;
}
